  <%= render 'partials/header' %>

  <div class="front-page-heading">
    <h1>Soren Peterson</h1>
    <h2>Dreamer, Thinker, Creator</h2>
    <p>Currently looking for an awesome job in web/software/app development. Got one? Let me know.</p>
  </div>
