<% if is_admin? %>
  <a href="/projects/new">Add a project</a>
<% end %>
<div class="container">
  <div class="portfolio-list">
    <ul>
      <% @projects.each do |item| %>
        <li>
          <img class="portfolio-sample" src="/img/projects/<%= item.image %>">

          <h3><a href="<%= item.link %>"><%= item.title %></h3></a>

          <p><%= item.description %></p>

          <div class="clr-both"></div>

          <% if is_admin? %>
            <a href="">Edit</a>

            <a href="">Move Up</a>

            <a href="">Move Down</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>